.side-bar {
  position: relative;
  width: 100%;
  float: none;
}

.main {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.article-list {
  margin: 0;
}

.side-bar .nav,
.side-bar .tag-list {
  text-align: center;
  display: none;
}

#menu-checkbox:checked~div {
  display: block;
}

#menu-toggle {
  display: block;
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 18px;
}
